@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Manrope Font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');

:root {
  --background: #111111;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #111111;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}